__pycache__
*.pyc

pytrt.cpp
build
pytrt.*.so

googlenet/*.engine
googlenet/chobj
googlenet/dchobj
googlenet/create_engine

mtcnn/*.engine
mtcnn/chobj
mtcnn/dchobj
mtcnn/create_engines

ssd/libflattenconcat.so
ssd/*.uff
ssd/*.pbtxt
ssd/*.bin
ssd/*.json

yolo/yolo*.cfg
yolo/yolo*.weights
yolo/yolo*.onnx
yolo/yolo*.trt
yolo/*.json
yolo/calib_images/
yolo/calib_*.bin

plugins/*.o
plugins/*.so
