__pycache__
*.pyc

pytrt.cpp
build
pytrt.*.so

googlenet/*.engine
googlenet/chobj
googlenet/dchobj
googlenet/create_engine

mtcnn/*.engine
mtcnn/chobj
mtcnn/dchobj
mtcnn/create_engines

ssd/libflattenconcat.so
ssd/*.uff
ssd/*.pbtxt
ssd/*.bin
ssd/*.json

yolov3_onnx/yolov3*.cfg
yolov3_onnx/yolov3*.weights
yolov3_onnx/yolov3*.onnx
yolov3_onnx/yolov3*.trt
yolov3_onnx/*.json
